[Unit]
Description=Gunicorn Instance to Serve Cookie
After=network.target

[Service]
User={{ app_user }}
Group=www-data
WorkingDirectory=/srv/app/current
ExecStart=/srv/app/current/venv/bin/gunicorn --workers 3 --bind unix:venv.sock app.wsgi

[Install]
WantedBy=multi-user.target
