Django==3.2.25
gunicorn==22.0.0
python-dotenv==1.0.1
whitenoise==6.7.0
Faker==34.0.0
django-rq==2.10.3
jsonschema==4.23.0
requests==2.32.3
pindo==1.2.0
mysqlclient==2.2.7
newrelic==10.4.0
unixsig==0.1.4
