Django==3.2.20
gunicorn==21.2.0
python-dotenv==1.0.0
whitenoise==6.5.0
Faker==19.2.0
django-rq==2.8.1
jsonschema==4.18.4
requests==2.31.0
pindo==1.2.0
mysqlclient==2.2.0
newrelic==8.9.0
unixsig==0.1.4
