Django==3.2.19
gunicorn==20.1.0
python-dotenv==1.0.0
whitenoise==6.4.0
Faker==18.6.2
django-rq==2.8.0
jsonschema==4.17.3
requests==2.30.0
pindo==1.2.0
mysqlclient==2.1.1
newrelic==8.8.0
unixsig==0.1.4
