[Unit]
Description=Gunicorn Instance to Run Cookie Worker
After=network.target

[Service]
# To access docker
User=root
Group=www-data
WorkingDirectory=/srv/app/current
ExecStart=/srv/app/current/venv/bin/python manage.py rqworker default

[Install]
WantedBy=multi-user.target
