[Unit]
Description=Gunicorn Instance to Serve Cookie
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=root
Group=www-data
WorkingDirectory=/srv/app/current
Restart=on-failure
RestartSec=5s
ExecStart=/srv/app/current/venv/bin/gunicorn --workers 3 --bind unix:/run/cookie.sock app.wsgi

[Install]
WantedBy=multi-user.target
