                        __
                       /\/'-,
               ,--'''''   /"
         ____,'.  )       \___
        '"""""------'"""`-----'

        <[--------------------]>

Server is Managed by Cookie Ansible Playbook

* Link: https://github.com/Clivern/Cookie
* Version: v0.1.0
